<div class="bio">
        <div class="wrap">

          <div class="container">
            <div class="row">
              <div class="col">

                <img class="headshot" src="assets/images/headshot.jpg" alt=""/>
              </div>
              <div class="col">
                <h2>Trevor Sargent</h2>
                <div class="bio-text">
                  <p>Trevor Sargent is a Scenic, Lighting, and Projection Designer based in Portland, OR. Recent credits include Scenic & Lighting Designer at
                    <a href="#">Salt &amp; Sage Productions</a>
                    (Meet Me in the Dark), Lighting Designer at
                    <a href="#">Triangle Productions</a>
                    (Building the Wall, Golda’s Balcony, Forever Dusty) and
                    <a href="#">Shaking The Tree Theatre</a>
                    (Head, Hands, Feet) as well as Assistant Scenic and Projections Designer at
                    <a href="#">Artists Repertory Theater</a>
                    (Feathers &amp; Teeth, American Hero, The Skin of Our Teeth). He has also enjoyed serving as Master Electrician for
                    <a href="#">Third Rail Repertory Theatre</a>
                    (The Angry Brigade, The Nether, The Flick), Imago Theatre (La Belle) and
                    <a href="#">Portland Experimental Theatre Ensemble</a>
                    (Procedures for Saying No)</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>