<div class="featured">

  <div class="col">
    <div class="featured-item">
      <img src="https://trevorsargent.s3.amazonaws.com/2016/Oct/HeadHandsFeet_11-1476054223561.jpg" alt="">
      <div class="text">
        <h2>Head Hands Feet</h2>
        <h3>Shaking The Tree Theatre</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="featured-item">
      <img src="https://trevorsargent.s3.amazonaws.com/2016/Oct/HeadHandsFeet_11-1476054223561.jpg" alt="">
      <div class="text">
        <h2>Head Hands Feet</h2>
        <h3>Shaking The Tree Theatre</h3>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="featured-item">
      <img src="https://trevorsargent.s3.amazonaws.com/2016/Oct/HeadHandsFeet_11-1476054223561.jpg" alt="">
      <div class="text">
        <h2>Head Hands Feet</h2>
        <h3>Shaking The Tree Theatre</h3>
      </div>
    </div>
  </div>

</div>