<a id="nav-burger">
	<h2>T</h2>
</a>

<div id="nav-flyover" class="closed">
	<div class="nav-wrap">

		<h1>Trevor Sargent Design</h1>
		<a href="/">Home</a>
		<a href="/#about">About</a>
		<a href="/portfolio">Portfolio</a>
		<a class="indent" href="/portfolio#lighting">Lighting</a>
		<a class="indent" href="/portfolio#scenery">Scenery</a>
		<a class="indent" href="/portfolio#projections">Projections</a>
		<a href="#contact">Contact</a>
		<a href="http://trevorsargent.github.io">Labs</a>
	</div>
</div>