<div class="ongoing">

	<div>
		<h2>Currently Open</h2>
		<p>Triangle Productions: <a target="blank" href="http://www.trianglepro.org/handgod#sthash.01lc54JI.dpbs">Hand to God</a></p>
	</div>

	<div>
		<h2>Coming Soon</h2>
		<p>Shaking The Tree Theatre: <a href="http://www.shaking-the-tree.com/the-caucasian-chalk-circle.html">The Caucasian Chalk Circle</a></p>
		<p>Lewis &amp; Clark College: <a target="blank" href="http://college.lclark.edu/live/news/36588-the-arsonists">The Arsonists</a>
		<p>Triangle Productions: <a href="http://www.trianglepro.org/actgod/">An Act of God </a> </p>
		<p>Shaking The Tree Theatre: <a href="http://www.shaking-the-tree.com/macbeth.html">Macbeth</a></p>
	</div>

</div>
