<div class="ongoing">
    <div class="container">

        <!--<div class="col">
            <h2>Currently Open</h2>
            <p>Triangle Productions: <a href="#">Satchmo at the Waldorf</a> </p>
        </div>-->

        <div class="col">
            <h2>Coming Soon</h2>
            <p>Portland Experimental Theatre Ensemble <a href="#">Deception Unit</a></p>
            <p>Cactus Camp: <a href="#">Memory in 3 Parts</a></p>
            <p>Lewis &amp; Clark College: <a href="#">The Arsonists</a>
        </div>
    </div>
</div>