@import 'colors';
@import 'mixins';

body{
  font-family: 'Lato', 'helvetica', sans-serif;
}

h1{
  font-size: 96px;
  font-weight: 100;
}

h2{
  font-size: 32px;
  font-weight: 100;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 16px;
}

p{
  font-size: 15px;
  font-weight: 300;
}

a{
  color: $dark;
  text-decoration: none;
  
  &:hover{
    border-bottom: 3px solid $highlight;
  }
  @include transition(border .25s);
}