@import 'colors';
@import 'mixins';

body{
  font-family: 'Lato', 'helvetica', sans-serif;
}

.row{
  flex-direction: row;
}

h1{
  font-size: 69px;
  font-weight: 100;
  margin-bottom: 10px;
}

h2{
  font-size: 32px;
  font-weight: 100;
  margin-bottom: 10px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 16px;
}

p{
  color: $dark;
  font-size: 15px;
  font-weight: 300;

}

a{
  color: $dark;
  text-decoration: none;

  &:hover{
    border-bottom: 3px solid $highlight;
  }
  @include transition(border .25s);
}

.container{
  width: 1000px;
}