@import 'colors';
@import 'mixins';

body{
  font-family: 'Roboto', 'helvetica', sans-serif;
  background: $light;
  font-weight: 300;
}

h1, h2, h3, h4, h5{
  @include lato;
}

h1{
  font-size: 42px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

p{
  font-size: 14px;
  line-height: 1.5;
}

a{
  text-decoration: none;
}

p a{
  color: $highlight;
  padding: 1px 3px;

  &:hover{
    color: $light;
    background: $highlight;
  }
  @include transition(background-color .25s);
}

.pill{
  @include lato;
  @include black-highlight;
  font-size: 16px;
}