@import 'mixins';

.contact{
    @include flex;  
    @include vert-space;  

    form{
        display: flex;
        flex-direction: column;
        width: 100%;

        .inputs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            
        }

        input{
        
            flex-grow: 1;
            padding: 5px 10px;
            margin: 20px 10px;

            &:last-child{
                margin-right: 0;
            }

            &:first-child{
                margin-left: 0;
            }

        }

        textarea{
            padding: 10px;
            margin:0;
            min-height: 50px;

        }
    }



}