//
@import 'colors';

.cover{
    background: url('https://trevorsargent.s3.amazonaws.com/2016/Oct/HeadHandsFeet_11-1476054223561.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    color: $light;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        font-size: 96px;
    }

    h2{
        font-size: 32px;
    }

}

