@import 'mixins';

.featured{
    @include flex;
    flex-direction: row;
    background: $dark;
    color: $light;
    
    .col{
        margin: 0;
    }

    
}

.featured-item{
    // width: 100%;
    img{
        width: 100%;
        margin-bottom: -120px;        
    }
    .text{
        padding: 20px 30px;
        text-shadow: 0 0 1px $dark;
    }

    
    h2{
        margin-bottom: 10px;
    }

    h3{
        font-weight: 100;
    }
    
}