@import 'mixins';

.featured{
    @include flex;
    flex-direction: row;
    background: $dark;
    color: $light;
    
    .col{
        margin: 0;
    }

    a{
        display: block;
        color: $light;
    }
    
}

.featured-item{
    // width: 100%;
    overflow: hidden;

    img{
        width: 100%;  
        &:hover{
            transform: scale(1.02);
        } 
    }

    .text{
        margin-top: -120px;
        position: relative;
        padding: 20px 30px;
        text-shadow: 0 0 1px $dark;
        z-index: 100;

        
    }

    
    h2{
        margin-bottom: 10px;

    }

    h3{
        font-weight: 100;
    }
    
}