@import 'colors';

$med: 650px;
$lg: 1000px;

$col-width: 450px;
$vertical-margin: 50px;
$vertical-margin-sm: 25px;
$vertical-spacing: 25px;
$horizontal-margin: 50px;
$horizontal-margin-sm: 25px;

@mixin lato{
    font-family: 'Lato', 'helvetica', sans-serif;
    font-weight: 900;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin black-highlight{
    background: $dark;
    color: $light;
    padding: 10px;
}

@mixin center-col{
    max-width: $col-width;
    margin: auto;
}

@mixin vert-margins{
  margin-top: $vertical-margin ;
  margin-bottom: $vertical-margin;
  @media(max-width: $med){
    margin-top: $vertical-margin-sm;
    margin-bottom: $vertical-margin-sm;
  }
}

@mixin horz-margins{
  padding-left: $horizontal-margin;
  padding-right: $horizontal-margin;
  @media(max-width: $med){
    padding-left: $horizontal-margin-sm;
    padding-right: $horizontal-margin-sm;
  }
}

@mixin vert-spacing{
    >:not(:last-child){
        margin-bottom: $vertical-spacing;
    }
}

@mixin image-fix{
    width: 100%;
    object-fit: cover;
}

@mixin image-scale {
  transform: scale(1.05)
}

@mixin image-scale-transition {
  transition: all .25s
}