@import 'colors';

$med: 650px;
$lg: 1000px;

$col-width: 450px;
$vertical-margin: 50px;
$vertical-spacing: 25px;


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin black-highlight{
    background: $dark;
    color: $light;
    padding: 10px;
}

@mixin center-col{
    width: $col-width;
    margin: auto;
}

@mixin vert-margins{
    margin: $vertical-margin auto;
}

@mixin vert-spacing{
    >:not(:last-child){
        margin-bottom: $vertical-spacing;
    }
}

@mixin image-fix{
    width: 100%;
    object-fit: cover;
}