@import 'mixins';

nav{

	padding: 20px;
	@include horz-space;


  width: 100%;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  a{
    font-weight: 300;
    color: $dark;

    @include transition(color .3s);
    @include transition('text-shadow' .3s);

    &:hover{
        border: none;
        // font-weight: 400;
        text-shadow: 0 0 2px $dark;
        color: darken($dark, 100);
    }
  }
}
