@import 'mixins';

.portfolio{
  @include horz-margins;
  
  .title{
    @include title-space;
  }
  
  
	.header-bar{
    display: grid;
    grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
	}
	
	.show{
		opacity: 1;
		transition: all .5s;
		height: 500px;
  }

  .show img{
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  
  .text-wrapper{
    position: relative;
    top: -80px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr)
  }
	
	.hidden, .hidden {
    padding: 0;
    margin: 0;
		height: 0px;
		opacity: 0;
		overflow: hidden;
	}

	.header-bar{
		margin-bottom: 25px;
		text-align: end;
	}

	#filter-label{
    display: grid;
    grid-template-columns: 1fr auto auto;
    padding: 10px 0px;
    padding-right: 10px;
		cursor:default;
    transition: all .5s;
    a{
      color: $dark;
    }
	}


	#clear{
		transition: all .5s;    
		display: block;
    opacity: 0;
    width: 0;
    padding-right: 0px;
    overflow: hidden;
	}

	#filter-label.active{
    a{
      color: $highlight;
    }
		cursor: pointer;
		#clear{
      opacity: 1;
      width: 30px;
      padding-right: 3px;
		}
	}

	
	.table-label-wrapper{
		text-align: center;
	}
	
	.table-label{
		@include black-highlight;
		text-align: center;
		display: inline-block;
    transition: all .5s;
    width: 100%;
     box-sizing: border-box;
	}

	.selected{
		background: $highlight;
	}

	a{
		color: $highlight;
	}

	.tag-chip{
		color: $dark;
		text-align: center;
		padding-top: 40px;
	}


	.show-text-wrapper{
		display: flex;
		align-items: flex-end;
  }
  
  @media(max-width: $lg){
    .show-info-wrapper{
      grid-template-columns: 1fr;
    }

    .show{
      padding-bottom: 10px;
    }
  }


  @media(max-width: $med){

  .header-bar{
    grid-template-columns: auto repeat(3, 1fr);

    .fill{
      display: none;
    }

    .table-label-wrapper, .table-label{
      width: 100%;
      box-sizing: border-box;
    }

    #filter-label{
      padding-right: 5px;
    }
  }

  .show{
    grid-template-columns: 1fr;
  }


  .show-text-wrapper{
      padding-bottom: 10px;
  }

  

  .hidden{
    padding: 0;
    margin: 0;

    .show-text-wrapper{
      margin: 0;
      padding: 0;
    }
  }


  .tag-chip{
    display: none;
  }
}
}