@import 'mixins';

.portfolio, .by-tag{

    @include horz-space;
		@include vert-space;

    h2, h3{
			margin: 0;
    }

    .show{
      display: grid;
			grid-template-columns: 3fr 2fr 245px;
			align-items: baseline;
			margin-bottom: 20px;
		}

		.tags{
			margin-left: auto;
			margin-top: 0;
			display: grid;
			grid-template-columns: 120px;
			grid-auto-columns: 120px;
			grid-gap: 5px;
		}

		.pill{
			grid-row: 1
		}
		
	




}
