@import 'mixins';
@import 'colors';


.show{

  .header{
    position: relative;
    width: 100%;
    height: calc(100vh - 55px);
    overflow: hidden;


      img{
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      .header-info{
        position: absolute;
        bottom: 10px;
        left: 10px;

        h1, h2{
          @include black-highlight;
        }
      }
    }

    .show-info{
      @include center-col;
      @include vert-margins;
    }

    .images{

        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-auto-rows: 33vw;
        grid-template-columns: repeat(3, 1fr);

        // .vertical{
        //   grid-row: span 2
        // }

        a{
          overflow: hidden;
        }

        img{
          object-position: center;
            object-fit: cover;
            width: 100%;
            min-height: 100%;
            @include image-scale-transition
        }

        a:hover{
          img{
            @include image-scale
          }
        }
    }

    .tags{
        margin-top: 20px;
    }
}
