@import 'mixins';
@import 'colors';

$height: 600px;

.show{
    @include flex;

    .header{
        @include flex;
        width: 100%;
        height: $height;
        overflow: hidden;
        background: linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,0));
    }

    .content{
        @include vert-space;
    }

    .text{
        height: $height;
        margin-bottom: -1 * $height;
        @include flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        color: $light;
        text-shadow: 0 0 5px $dark;
        

    }

    .images{

        width: 100%;
        display: flex;
        img{
            
        }

        a{
            height: 300px;
            width: 30%;
        }
    }

    img{
        width: 100%;
        object-fit: cover;
        height: $height;
        object-position: center;
        // overflow: hidden;
        z-index: -1;
    }

    

    
}