.about{

  @include vert-margins;
  @include horz-margins;
  
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: $spacing;

  @include breakpoint(sm){
    grid-template-columns: 1fr;
  }
  
  img{
    @include image-cover;
    height: $large-tile;
    width: $large-tile;

    @include breakpoint(sm){
      width: 100%;
      height:95vw;
    }

  }
  
  a{
    @include highlight;
    @include hover-dark;
  }
  
  #bio{
    @include text-paragraph;
    @include vert-spacing;
  }
}
