@import '../components/filter';

.portfolio{
  @include horz-margins;
  
  .title{
    @include vert-margins;
    @include text-jumbo;
    @include highlight;
  }
  	
	.show{
    @include vert-margins;
    position: relative;
    box-sizing: border-box;
  }

  .show img{
    z-index: -1;
    @include image-cover;
    height: $large-tile;
    @include breakpoint(sm){
      height: $large-tile / $sm-ratio;
    }
  }
  
  .text{
    z-index: 100;
    @include transition(all .25s);
    @include text-block;
    border: 0px solid $highlight;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: $dark;

    h3{
      position: absolute;
      top: $double-spacing;
      left: $double-spacing;
      @include breakpoint(md){
        top: $double-spacing / $md-ratio;
        left: $double-spacing / $md-ratio;
      }
      @include light;
      @include text-jumbo;      
    }
    
    h4{
      position: absolute;
      bottom: $double-spacing;
      right: $double-spacing;
      @include breakpoint(md){
        bottom: $double-spacing / $md-ratio;
        right: $double-spacing / $md-ratio;
      }
      @include light;
      @include text-block;
    }
  }

  .text:hover{
    border-width: 25px;
    opacity: .8;
  }
	
 .hidden {
    padding: 0;
    margin: 0;
		height: 0px;
		opacity: 0;
    overflow: hidden;
  }
  
  @include breakpoint(sm){

    .text{
      position: relative;
      opacity: unset;
      border: unset;
      height: unset;
      background: none;
      
      h3{
        @include text-block;
        position: relative;
        top: unset;
        left: unset;
        @include highlight;
      }

      h4{
        @include text-small;
        position: relative;
        bottom: unset;
        right: unset;
        @include dark;
      }
    }
  }
}
