.portfolio{
  @include horz-margins;
  
  .title{
    @include vert-margins;
    @include text-jumbo;
  }
  
	.header-bar{
    display: grid;
    grid-gap: 5px;
		grid-template-columns: repeat(5, 1fr);
	}
	
	.show{
    position: relative;
		opacity: 1;
    transition: all .5s;
    box-sizing: border-box;
    height: 600px;
    margin-bottom: 25px;
  }

  .show img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .text{
    @include transition(all .25s);
    @include text-block;
    border: 0px solid $highlight;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    background: $dark;
    color: $light;
    font-weight: 900;
    text-transform: uppercase;

    h3{
      position: absolute;
      top: 50px;
      left: 50px;
      font-size: 175px;
    }
    
    h4{
      font-size: 50px;
      position: absolute;
      bottom: 50px;
      right: 50px;
    }
  }

  .text:hover{
    border-width: 25px;
    opacity: .8;
  }
	
 .hidden {
    padding: 0;
    margin: 0;
		height: 0px;
		opacity: 0;
		overflow: hidden;
	}
}
