.show-page{
  @include horz-margins;

  .show-title{
    @include highlight;
    @include vert-margins;
  }

  h1{
    @include text-jumbo;
  }

  h2{
    @include text-block;
    margin-left: 6px;
  }

  .cover-image{
    @include image-cover;
    height: $large-tile;
    @include breakpoint(md){
      height: $large-tile / $md-ratio;
    }
  }

  .show-info{
    @include vert-margins;
    @include text-block;
  }

  .credits{
    span{
      @include highlight;
    }
  }

  .tags{
    margin-top: 10px;
    @include highlight;
  }
  
  .tag{
    margin-right: 3px;
  }

  .images{
    @include vert-margins;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: $spacing;
    grid-auto-rows: $small-tile;
    @include breakpoint(sm){
      grid-auto-rows: $small-tile-sm;
    }

    a{
      height: 100%;
      width: 100%;
   
      img{
        @include image-cover;
      }
      
    }

    .portrait{
      grid-row: span 2;
    }

    @include breakpoint(sm){
      grid-template-columns: 1fr;
    }

  }
}