.filter-bar{
  @include text-block;
  @include horz-margins;
  @include light;
  @include text-small;
  height: $double-spacing;
  background: $dark;
  display: flex;
  flex: row;
  overflow: hidden;
  


  .filter-link{
    @include transition(all .25s);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filter-link:first-child{
    width: $double-spacing;
    background: $highlight;
  }

  .filter-link:not(:first-child){
    flex: 1;
  }

  .filter-option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 0px solid $highlight;
    @include transition(all .25s);

    &:hover{
      border: 5px solid $highlight;
    }
  }
  

  .filter-link.hide{
    width: 0px;
    overflow: hidden;
  }

  .selected{
    background: $highlight;
  }

}