nav{
  background: $highlight;
  @include horz-margins;
  @include transition(max-height .25s);
  box-sizing: border-box;
  padding-bottom: 10px;
  overflow: hidden;
  max-height: 1000px;

  .links{
    margin: 0;
    opacity: 1;
    @include transition(opacity .25s);
    a, h1{
      margin-right: 25px;
      color: $light;
      @include text-jumbo;
      @include hover-dark;
    }
  }
}

nav:not(:hover){
  max-height:25px;
  .links{
    opacity: 0;
  }
}