---
layout: default
---

<div class="by-tag">
  <h1>{{page.title}}</h1>

  {% capture tag_shows %} {% endcapture %}


  {% for show in site.posts %}
  {% if show.tags contains page.tag %}


  <div class="show">


  <a href="{{show.url}}">
      <h2>{{show.title}}</h2>
  </a>
  <h3>{{show.theatre}}</h3>

  {% for tag in show.tags %}
      {% unless tag == page.tag %}
      <a class="pill" href="{{site.url}}/{{tag}}">{{site.data.tags[tag]}}</a>
  {% endunless %}
  {%endfor%}

  </div>

  {%endif%}

  {% endfor %}

</div>
